* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#logo-airmax {
    display: inline-block;
    width: 75px;
    margin-left: 60px;
    margin-right: 10vw;
}

span {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 30px;
    position: relative;
    bottom: 32px;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
}

h3 {
    font-size: 35px;
    margin-left: 15vw;
    font-weight: bold;
}

#h1 {
    font-size: 100px;
    margin-left: 5vw;
    margin-top: 20px;
    margin-bottom: 23px;
    font-weight: bold;
    font-style: italic;
}

#p {
    width: 31%;
    margin-left: 5vw;
    margin-bottom: 39px;
    line-height: 24px;
    text-align: justify;
    color: #4F4F4F;
}

#button {
    margin-left: 13vw;
    height: 40px;
    width: 100px;
    background: red;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

#a {
    margin-left: 30px;
    font-size: 16px;
    text-decoration: none;
    color: #808080;
    cursor: grab;
}

#img-principal {
    width: 23vw;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 42vw;
    top: 282px;
    transform: skew(18deg, -0.06turn);
    z-index: -1;
    border-radius: 50px;
    opacity: 0.7;
}

.elemento {
    width: 60px;
    cursor: grab;
    margin: 10px;
    border: 5px rgb(128, 128, 128, .6) solid;
    border-radius: 15px;
    margin-top: 25px;
}

#div-elemento {
    display: flex;
    margin-left: 15%;
    margin-top: 35px;
}

#color-black {
    position: absolute;
    width: 40%;
    height: auto;
    background: black;
    right: 0;
    top: 0;
    z-index: -1;
    cursor: pointer;
}

.menu2 {
    width: 35px;
    margin-top: 14px;
    margin-left: 25px;
    justify-items: center;
    height: 37px;
    background: white;
    border: 3px white solid;
    border-radius: 10px;
}


.button1 {
    background-color: #808080;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    border-radius: 15px;
    border: none;
}


.material-icons {
    color: black;
    cursor: pointer;
    font-size: 30px;
    background-color: rgb(128, 128, 128, .5);
    width: 50px;
    border-radius: 15px;
    text-align: center;
    padding-top: 7px;
    margin-left: 20px;
    height: 50px;
}

#elementos2 {
    display: inline-block;
    position: absolute;
    top: 15px;
    margin-left: 50px;
}

#texts {
    color: white;

}

#h1-master {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 900;
}

.p-master {
    width: 35vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.h4 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    color: red;
}

strong {
    color: blue;
}

@media screen and (max-width: 767px) {

    #color-black {
        display: none;
    }

    span {
        display: none;
    }

    h3 {
        font-size: 25px;
        margin-top: 15px;
        text-align: center;
    }

    #h1 {
        font-weight: 900;
        font-style: italic;
        font-size: 50px;
        margin-left: 120px;
    }

    #p {
        width: 376px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }

    #button {
        margin-left: 110px;
    }


    #img-principal {
        opacity: 1;
        right: 0;
        top: auto;
        width: 232px;
    }


   
}