* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#logo-airmax {
    display: inline-block;
    width: 75px;
    margin-left: 60px;
    margin-right: 10vw;
}

span {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 30px;
    position: relative;
    bottom: 32px;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
}

h3 {
    font-size: 35px;
    margin-left: 15vw;
    font-weight: bold;
}

h1 {
    font-size: 100px;
    margin-left: 5vw;
    margin-top: 20px;
    margin-bottom: 23px;
    font-weight: bold;
    font-style: italic;
}

p {
    width: 31%;
    margin-left: 5vw;
    margin-bottom: 39px;
    line-height: 24px;
    text-align: justify;
    color: #4F4F4F;
}

#button {
    margin-left: 13vw;
    height: 40px;
    width: 100px;
    background: red;
    border: none;
    border-radius: 30px;
    color: white;
}

a {
    margin-left: 30px;
    font-size: 16px;
    text-decoration: none;
    color: #808080;
}

#img-principal {
    width: 23vw;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 30%;
    top: 30%;
    transform: skew(18deg, -0.06turn);
}

.elemento {
    width: 60px;
    cursor: pointer;
    margin: 10px;
    border: 5px rgb(128,128,128, .6) solid;
    border-radius: 15px;
    margin-top: 25px;
}

#div-elemento {
    margin-left: 50px;
}

#color-black {
    position: absolute;
    width: 40%;
    height: 100vh;
    background: black;
    right: 0;
    top: 0;
    z-index: -1;
}

.menu2 {
    width: 35px;
    margin-top: 14px;
    margin-left: 25px;
    justify-items: center;
    height: 37px;
    background: white;
    border: 3px white solid;
    border-radius: 10px;
}

.material-icons {
    
}


